.weather__temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__temp span{
  font-size: 180px;
  line-height: 115px;
  text-align: center;
  
}

.weather__temp img{
  height: 180px;
}

.weather__title {
  margin-bottom: 30px;
}

.weather__temp p {
  margin-top: 10px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .weather__temp span{
    font-size: 135px;
    line-height: 115px;
  }
  
  .weather__temp img{
    height: 150px;
  }

  .weather__title {
    display: flex;
    flex-direction: column;
  }

  .weather__temp p {
    font-size: 20px;
    width: max-content;
  }
}