.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info__block p {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  opacity: 0.6;
  mix-blend-mode: normal;
}

.info__block {
  width: 18.5%;
}

.info__block span {
  font-size: 25px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .info {
    flex-wrap: wrap;
  }

  .info__block {
    width: 45%;
    padding-bottom: 20px;
  }

  .info__block p {
    font-size: 16px;
    line-height: 18px;
  }

  .info__block span {
    font-size: 18px;
    line-height: 20px;
  }
}