.visually__hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu_wrap {
  width: 100%;
  /* height: 20%; */
}

.menu {
  display: flex;
  justify-content: space-between;
}

.form {
  position: relative;
  min-width: 21%;
  height: 60%;
  width: 560px;
}

.form input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;

  font-size: 50px;
  line-height: 60px;
  color: white;
}

.form input:focus,
.form input:active {
  background-color: white;
  color: black;
  font-size: 30px;
  line-height: 36px;
  padding: 25px 25px;
}


.form input + .form__OKbtn {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 30px;
  line-height: 36px;
  background-color: transparent;
  border: none;
}

.form input:focus + .form__OKbtn { 
  display: block;
  color: #498CEC;
 }

 .form__input::placeholder {
  color: white;
  opacity: 1;
}

.form__changes {
  display: flex;
  justify-content: flex-start;
}

.form__changes p {
  font-size: 18px;
  line-height: 22px;
  opacity: 0.6;
  padding-right: 60px;
}

.form__location {
  position: relative;
}

.form__location::before {
  content: url(/src/assets/location.svg);
  position: absolute;
  left: -35px;
  top: -5px;
}

/* .form__location svg {
  position: absolute;
  left: -35px;
  top: -5px;
} */

.switch {
  display: flex;
  align-items: flex-start;
}

.switch span {
  font-size: 18px;
  line-height: 22px;
  opacity: 0.4;

  padding: 0 10px;
}

.switch__wrap {
  border: 1px solid rgba(255,255,255, 0.4);
  border-radius: 8px;
  height: 29px;

  padding: 0;
  margin: 0;
  display: flex;
}

.switch__wrap button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px; 
  color: white; 
  opacity: 0.4;
  width: 38.25px;
  height: 29px;
  cursor: pointer;
}

.switch__Cbtn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.switch__Fbtn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.switch__wrap button.active {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
  color: white;
  font-style: normal;
}

.switch__wrap button:hover {
  background: rgba(255, 255, 255, 0.1);
}


@media (max-width: 768px) {
  .form__changes p {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    padding-right: 60px;
  }

  .switch {
    padding-top: 15px;
  }
}