@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #498CEC;

  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .container {
  width: 87%;
  margin: auto;
} */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App{
  height:100vh;
  width:100%;
}


.wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 87%;
  height: 100%;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 122px;
}
